@{
    ViewData["Title"] = "Contact";
}


@Html.Partial("_HeaderSection", "Contact")

<h4 style="text-align:center">Sed ut perspiciatis unde omnis iste natus error slore magnam aliquis nit quid.</h4>
<br/>
<address style="text-align:center">
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address style="text-align:center">
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
