@model ICollection<HomePropertiesViewModel>

@{
    ViewData["Title"] = "Welcome to OMX!";
}


<section class="hero-section set-bg" data-setbg="img/home-background.jpg">
    <div class="container hero-text text-white">
        <h2>Welcome to OMX Real Estate!</h2>
        <p>Publish your property on our portal. It's free!<br>Looking to buy a new home? Check out our featured listings!</p>
        <a asp-area="" asp-controller="Properties" asp-action="Create" class="site-btn">ADD NEW LISTING</a>
    </div>
</section>
<section class="feature-section spad">
    <div class="container">
        <div class="section-title text-center">
            <h3>Featured Listings</h3>
            <p>Browse houses and flats for sale and to rent in your area</p>
        </div>
        <div class="row">
            @Html.DisplayForModel()
        </div>
    </div>
</section>
<hr />
<section class="gallery-section spad" data-setbg="img/service-bg.jpg">
    <div class="container">
        <div class="section-title text-center">
            <h3>Popular Places</h3>
            <p>We understand the value and importance of place</p>
        </div>
        <div class="gallery">
            <div class="grid-sizer"></div>
            <a href="/properties/area/3" class="gallery-item grid-long set-bg" data-setbg="img/gallery/1.jpg">
                <div class="gi-info">
                    <h3>Varna</h3>
                </div>
            </a>
            <a href="/properties/area/1" class="gallery-item grid-wide set-bg" data-setbg="img/gallery/2.jpg">
                <div class="gi-info">
                    <h3>Sofia</h3>
                </div>
            </a>
            <a href="/properties/area/4" class="gallery-item set-bg" data-setbg="img/gallery/3.jpg">
                <div class="gi-info">
                    <h3>Burgas</h3>
                </div>
            </a>
            <a href="/properties/area/2" class="gallery-item set-bg" data-setbg="img/gallery/4.jpg">
                <div class="gi-info">
                    <h3>Plovdiv</h3>
                </div>
            </a>
        </div>
        <div class="gallery">
            <div class="grid-sizer"></div>
            <a href="/properties/area/3" class="gallery-item grid-long set-bg" data-setbg="img/gallery/5.jpg">
                <div class="gi-info">
                    <h3>Stara Zagora</h3>
                </div>
            </a>
            <a href="/properties/area/1" class="gallery-item grid-wide set-bg" data-setbg="img/gallery/6.jpg">
                <div class="gi-info">
                    <h3>Yambol</h3>
                </div>
            </a>
            <a href="/properties/area/4" class="gallery-item set-bg" data-setbg="img/gallery/7.jpg">
                <div class="gi-info">
                    <h3>Pleven</h3>
                </div>
            </a>
            <a href="/properties/area/2" class="gallery-item set-bg" data-setbg="img/gallery/8.jpg">
                <div class="gi-info">
                    <h3>Ruse</h3>
                </div>
            </a>
        </div>
    </div>
</section>



