@page
@model OMX.Web.Pages.Issues.ReportModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_HeaderSection", "REPORT ISSUES")


<br />
<form id="profileForm" method="post">
    <fieldset>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Report.Url" class="control-label">Link where the issue has been observed:</label>
            <input asp-for="Report.Url" class="form-control" />
            <span asp-validation-for="Report.Url" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Report.Date" class="control-label">When did you first encounter the issue?</label>
            <input asp-for="Report.Date" class="form-control" />
            <span asp-validation-for="Report.Date" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Report.Description" class="control-label">Description of the issue</label>
            <textarea asp-for="Report.Description" class="form-control"></textarea>
            <span asp-validation-for="Report.Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Report!" class="next action-button" />
        </div>
        <div>
            <a href="/" class="btn btn-link" style="color:black"><i class="fa fa-sign-in"></i> Back To Home</a>
        </div>
    </fieldset>
</form>

<br />