@model ICollection<Property>
@{
    var featuredListingsCount = Model.Where(e => e.IsFeatured && e.IsApproved).Count();
    var activeListingsCount = Model.Where(e => e.IsApproved).Count();
    var inactiveListingsCount = Model.Where(e => !e.IsApproved).Count();

}
@Html.Partial("_HeaderSection", "My Listings")
<section class="feature-section spad">
    <div class="container">
        <div class="section-title text-center">
            <h3>My Featured Listings</h3>
            <p>Properties displayed directly on the home page!</p>
        </div>
        <div class="row">
            @foreach (var property in Model.Where(e => e.IsFeatured))
            {
                @Html.Partial("_PropertyPartial", property)
            }
        </div>
    </div>
</section>
<section class="feature-section spad">
    <div class="container">
        <div class="section-title text-center">
            <h3>My Active Listings</h3>
            <p>Listings approved by a moderator and active on OMX!</p>
        </div>
        <div class="row">
            @foreach (var property in Model.Where(e => e.IsApproved && !e.IsFeatured))
            {
                @Html.Partial("_PropertyPartial", property)
            }
        </div>
    </div>
</section>
<section class="feature-section spad">
    <div class="container">
        <div class="section-title text-center">
            <h3>Listings Waiting for Approval</h3>
            <p>Please wait while our moderators are approving your listing.</p>
        </div>
        <div class="row">
            @foreach (var property in Model.Where(e => !e.IsApproved))
            {
                @Html.Partial("_PropertyPartial", property)
            }
        </div>
    </div>
</section>


