@model string


    <div method="post" class="contact-form-card">
        <h5>Would you like to contact the owner?</h5>
        <form>            
            <input type="text" placeholder="Your email">
            <textarea placeholder="Your question"></textarea>
            <button type="submit">Send</button>
        </form>
    </div>
    