@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OMX.Web</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body style="background: url('/images/background.jpg')">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mr-auto">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">OMX</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-5">
                <li class="nav-item active">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home <span class="sr-only">(current)</span></a>
                </li>
                @if (SignInManager.IsSignedIn(User))
                {
                    <li class="nav-item active">
                        <a class="nav-link" href="/Issues/Report">Report an Issue!</a>
                    </li>
                }
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Search Properties by Area
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/Properties/Area/1">Sofia</a>
                        <a class="dropdown-item" href="/Properties/Area/2">Plovdiv</a>
                        <a class="dropdown-item" href="/Properties/Area/3">Varna</a>
                        <a class="dropdown-item" href="/Properties/Area/4">Burgas</a>
                        <a class="dropdown-item" href="/Properties/Area/5">Stara Zagora</a>
                        <a class="dropdown-item" href="/Properties/Area/6">Yambol</a>
                        <a class="dropdown-item" href="/Properties/Area/7">Ruse</a>
                        <a class="dropdown-item" href="/Properties/Area/8">Pleven</a>

                    </div>
                </li>
            </ul>
            <partial name="_LoginPartial" />

        </div>
    </nav>
    

    <div class="container body-content">
        @RenderBody()
        <hr />

        <partial name="_CookieConsentPartial" />
        <footer class="page-footer font-small unique-color-dark pt-4">

            <!-- Footer Elements -->
            <div class="container">

                <!-- Call to action -->
                <ul class="list-unstyled list-inline text-center py-2">
                    <li class="list-inline-item">
                        <a asp-controller="Home" asp-action="About" class="btn btn-outline-white btn-dark">About</a>
                    </li>
                    <li class="list-inline-item">
                        <a asp-controller="Home" asp-action="Contact" class="btn btn-outline-white btn-dark">Contact</a>
                    </li>
                    <li class="list-inline-item">
                        <a asp-controller="Home" asp-action="Privacy" class="btn btn-outline-white btn-dark">Privacy</a>
                    </li>
                </ul>               
            </div>            
            <div class="footer-copyright text-center py-3">
                © 2018 Copyright:
                <a href="/"> OMX.com</a>
            </div>
            

        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
