@model IEnumerable<UsersViewModel>
@{
    ViewData["Title"] = "All Users";

}
@Html.Partial("_HeaderSection", "User Management")

@Html.Partial("_StatusMessage", (string)ViewBag.statusMessage)

<div class="limiter">
    <div class="container-table100">
        <div class="wrap-table100">
            <div class="table100">
                <table>
                    <thead>
                        <tr class="table100-head">
                            <th class="column1">Email</th>
                            <th class="column2">Name</th>
                            <th class="column3" style="text-align:center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @Html.DisplayForModel()
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
