@model ChangePasswordBindingModel
@{
    ViewData["Title"] = "Change Password";

}
@Html.Partial("_HeaderSection", "Change Password")

<h3 style="text-align:center">Password change for @Model.User.Email</h3>
<hr />

<form id="profileForm" method="post">
    <fieldset>

        <div class="form-group">
            <label asp-for="Password" class="control-label">New Password</label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword" class="control-label">Confirm Password</label>
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Change" class="next action-button" />
        </div>
        <div>
            <a asp-area="Admin" asp-controller="Users" asp-action="All" class="btn btn-link" style="color:black"><i class="fa fa-sign-in"></i> Back To Users Management</a>
        </div>
    </fieldset>
</form>
<br />
