@model ChangePasswordBindingModel
@{
    ViewData["Title"] = "Change Password";

}

<h1>Password change for @Model.User.Email</h1>
<hr />

<form method="post">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">              
                <label>New Password</label>
                <div class="form-group pass_show">
                    <input type="password"  class="form-control" name="Password" placeholder="New Password">
                </div>
                <label>Confirm Password</label>
                <div class="form-group pass_show">
                    <input type="password" class="form-control" name="ConfirmPassword" placeholder="Confirm Password">
                </div>
                <div class="form-group pass_show">
                    <input type="submit" class="btn btn-success" value="Change Password">
                </div>
            </div>
        </div>
    </div>
</form>