@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}
@Html.Partial("_HeaderSection", "Email confirmed!")


<div style="text-align:center">
    <br />
    <a href="\" class="btn btn-success"> Back to Home</a>
    <br />
    <br />
</div>
