@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}
@Html.Partial("_HeaderSection", "Password reset")


<h2 style="text-align:center">
    Please check your email to reset your password.
</h2>

